html {background-color:gray;}
body {margin:0 auto; width:960px;}
section {background-color: white; overflow: hidden;}
section > hr {color:gray;}
a {
    text-decoration: none;
    color:black;
}
a:hover {text-decoration: underline;}
header {text-align:center;}
#logo {font-size: 30pt;}
#logo a:hover {text-decoration: none;}
ul{overflow: hidden;}
#menu {
    border-radius: 10px 10px 10px 10px;
    background-color: black;
}
#menu > li{
    list-style: none;
    float:left;
    padding:15px;
}
#menu > li > a{color:white;}
#menu > li > a:hover {text-decoration: none;}
#menu > li:first-child{padding-left:0px;}
footer {background-color: black; margin-top:20px;}
footer > .mail {color: white; text-align: center;}
footer > .mail > a {color:white;}
footer > .mail > a:hover {text-decoration: underline;}
#copy {color:white; text-align: center; padding: 20px;}

/* 스마트폰 */
@media screen and (max-width: 767px) {
    body {width: auto;}
    nav {width: auto; float: none;}
    section {width: auto; float: none;}
}

/* 태블릿 PC 세로 */
@media screen and (min-width: 768px) and (max-width: 959px) {
    body {width: auto;}
    nav {width: auto; float: none;}
    section {width: auto; float: none;}
}